form{

    color: rgb(18, 55, 83);
 
    margin: auto;
    width:30%;

  }

  .Signup-email button{
    background-color: #F68F20;
    border-radius: 50px;
    width: 100%;
    font-size: 1.5rem;
    display: block;
  }
    .Signup-email input{
text-align: center;
        border-radius: 50px;
        font-size: 1.5rem;
        width: 100%;

    
  }