* {
  font-family: 'Alegreya SC',serif;

  max-width: 90%;
  margin: auto;
}
.paris {
  padding:.5em;
  display: block; 
  height: 40vmin;
  pointer-events: none;
}

p {
  font-size: 1.5rem; 
  margin: auto; 
  outline: 0px; 
  text-align: center;
  max-width: 100%;
  color: rgb(18, 55, 83);
}

.longform p {
  font-size: 1.2rem; 
  margin: 1rem; 
  outline: 0px; 
  text-align: left;
  max-width: 100%;
  color: rgb(18, 55, 83);
}

h2 {
  font-size: 2.3rem;  
  outline: 0px; 
  text-align: center;
  color: rgb(18, 55, 83);
}
h1 {
  font-size: 2.66667rem; 
  outline: 0px; 
  clear: both; 
  line-height: 1.2; 
  text-align: center;
  color: rgb(18, 55, 83);
}